/*1rem = 10px*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Slab:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Slab:wght@300;400;600;700&display=swap");
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: #92D6E8;*/
  background-image: linear-gradient(#2d8ba5, #92D6E8 50%);
  z-index: 1000; }
  header .logo {
    height: 6rem; }
  header .navbar a {
    font-size: 4rem;
    font-weight: 1000;
    margin: 1rem 3rem 2rem 2rem;
    padding: 0rem 0.5rem 1rem 1rem;
    text-decoration: none;
    text-align: center;
    color: orange; }
  header .navbar-nav {
    gap: 1.5rem; }

.navbar-light .navbar-nav .nav-link {
  color: orange; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #000cf0;
    text-decoration: underline;
    transition: 1s; }

@font-face {
  font-family: "Bungee-Regular";
  src: url("../css/Bungee-Regular.ttf"); }

@font-face {
  font-family: "KGTakeOnTheWorld";
  src: url("../css/KGTakeOnTheWorld.ttf"); }

.main {
  margin: 15rem 10rem 0rem 10rem; }

.titular {
  font-family: "KGTakeOnTheWorld";
  color: #8B0000;
  text-align: center;
  margin-bottom: 5rem;
  text-decoration: underline; }
  .titular h1 {
    font-size: 5rem;
    margin-bottom: 5rem; }
  .titular h2 {
    font-size: 4rem;
    margin-bottom: 5rem; }
  .titular h3 {
    font-size: 3rem;
    margin-bottom: 5rem; }

.gridTopPeluches {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  margin-left: 15rem;
  margin-right: 15rem; }
  .gridTopPeluches .peluche {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 10px black;
    padding-bottom: 3rem;
    background-image: linear-gradient(#2d8ba5, #92D6E8 75%); }
    .gridTopPeluches .peluche:hover {
      transform: scale(1.3, 1.3);
      transition: 1.5s; }
    .gridTopPeluches .peluche img {
      width: 60%; }
    .gridTopPeluches .peluche span {
      margin: 0 0 2rem 0;
      font-size: 3.5rem;
      font-weight: 600; }

.vertodosflex {
  display: flex;
  justify-content: center; }
  .vertodosflex .verTodos {
    font-size: 2.5rem;
    margin: 2rem; }

/*productos*/
.gridProductos {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: 75%;
  grid-template-rows: repeat(6, 1fr); }
  .gridProductos .tituloObjeto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    line-height: 3;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 5rem;
    background-image: linear-gradient(to bottom right, #92D6E8, #2d8ba5, #92D6E8); }
    .gridProductos .tituloObjeto:last-child {
      margin-bottom: 4rem; }
    .gridProductos .tituloObjeto h3 {
      padding: 5rem;
      margin: 5rem 5rem 5rem 5rem;
      border: 5px solid black;
      color: #000000;
      font-size: 3rem;
      width: 25rem;
      text-align: center; }
    .gridProductos .tituloObjeto p {
      font-size: 2.5rem;
      color: #155a1e;
      font-weight: 600;
      text-align: center;
      margin-bottom: 2rem;
      margin-top: 0rem; }
    .gridProductos .tituloObjeto div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .gridProductos .tituloObjeto .btn-lg {
      padding: 0.5rem 1rem;
      font-size: 3.25rem;
      line-height: 1.5;
      border-radius: 0.3rem; }
    .gridProductos .tituloObjeto .rotaR:hover {
      transform: rotate(25deg);
      transition: 0.3s; }
    .gridProductos .tituloObjeto .rotaCR:hover {
      transform: rotate(-25deg);
      transition: 0.3s; }

/*informacion*/
.marginInfo {
  margin: 0rem 10rem 0rem 10rem; }
  .marginInfo .colorB {
    color: #a80909; }
    .marginInfo .colorB .respuesta {
      font-family: "Roboto Slab", serif;
      font-size: 2.5rem;
      color: #9526C5;
      margin-bottom: 10rem; }
  .marginInfo .letraLato {
    font-family: "Lato", sans-serif;
    font-size: 3rem; }
    .marginInfo .letraLato .centrado {
      text-align: center; }
    .marginInfo .letraLato .encuadre {
      border: 0.5rem solid #000000;
      margin-bottom: 5rem;
      text-align: center; }
      .marginInfo .letraLato .encuadre .respuesta {
        font-family: "Roboto Slab", serif;
        font-size: 2.5rem;
        color: #b12020; }
  .marginInfo .pregunta {
    font-weight: 600; }
  .marginInfo .respuesta {
    font-family: "Roboto Slab", serif;
    font-size: 2.5rem;
    color: #9526C5; }

/*contacto*/
.centrarTodo {
  display: flex;
  justify-content: center; }
  .centrarTodo .contactoMenu {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 6rem;
    margin: 2rem 2rem 0rem 2rem;
    color: #FFFFFF;
    font-size: 2rem;
    height: 100%;
    width: 70%; }
    .centrarTodo .contactoMenu .cajaComentario {
      display: flex;
      justify-content: center; }
    .centrarTodo .contactoMenu .btn-primary {
      color: #fff;
      font-size: 2rem;
      background-color: #007bff;
      border-color: #007bff;
      float: right; }
  .centrarTodo .colorBack {
    background: #324355;
    padding: 5rem; }
  .centrarTodo .ajustarContacto {
    display: flex;
    display: inline-block;
    align-items: center; }

.gridLocales {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  margin-top: 10rem; }
  .gridLocales .marginleft {
    margin-left: 5rem; }
  .gridLocales .locales {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    color: #122992;
    font-weight: 600; }
    .gridLocales .locales h4 {
      font-family: "Roboto Slab", serif;
      font-size: 3.5rem; }

/*cuenta*/
.gridCuenta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center; }
  .gridCuenta .registerMenu, .gridCuenta .logMenu {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 70%;
    padding: 3rem;
    margin: 2rem 5rem 3rem 5rem;
    color: #FFFFFF;
    font-size: 2rem;
    display: block; }
    .gridCuenta .registerMenu .ajustarCuenta, .gridCuenta .logMenu .ajustarCuenta {
      display: flex;
      display: inline-block;
      justify-content: space-around; }
      .gridCuenta .registerMenu .ajustarCuenta .colorBack, .gridCuenta .logMenu .ajustarCuenta .colorBack {
        background: #324355;
        padding: 5rem; }

.gridFooter {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center; }
  .gridFooter .topFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-decoration: none;
    font-size: 1.5rem;
    color: #000000; }
    .gridFooter .topFooter .redes a {
      color: #0000ff; }
  .gridFooter .bottomFooter {
    display: flex;
    justify-content: center;
    align-items: center; }
    .gridFooter .bottomFooter .bottomFooter span {
      font-size: 1.3rem; }

.gridCuenta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center; }
  .gridCuenta .logMenu {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 70%;
    padding: 3rem;
    margin: 2rem 5rem 3rem 5rem;
    color: #FFFFFF;
    font-size: 2rem;
    display: block; }
    .gridCuenta .logMenu .ajustarCuenta {
      display: flex;
      display: inline-block;
      justify-content: space-around; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(#2d8ba5, #92D6E8 50%); }
    header a {
      font-size: 2.5rem;
      font-weight: 1000;
      margin: 2rem 1rem 2rem 1rem;
      padding: 0rem 0.5rem 1rem 1rem;
      text-decoration: none;
      text-align: center;
      color: orange; }
  .main {
    margin: 5rem 0rem 0rem 0rem; }
    .main .gridTopPeluches {
      margin: 0%;
      display: grid;
      grid-gap: 0.5em;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 2rem; }
      .main .gridTopPeluches .peluche {
        display: flex;
        align-items: center;
        flex-direction: column;
        border: solid 10px black;
        padding-bottom: 3rem;
        background-image: linear-gradient(#2d8ba5, #92D6E8 75%);
        margin: 0rem 2rem 0rem 2rem; }
        .main .gridTopPeluches .peluche:hover {
          transform: scale(1, 1);
          transition: 0s; }
    .main .gridProductos {
      margin: 0%;
      display: grid;
      grid-template-columns: 90%;
      grid-template-rows: repeat(6, 1fr);
      align-items: center;
      justify-items: stretch; }
      .main .gridProductos .tituloObjeto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 3rem; }
    .main .gridCuenta {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr; }
    .main .gridLocales {
      margin: 0%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr;
      margin-left: 0rem; }
      .main .gridLocales .locales {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
        color: #122992;
        font-weight: 600; }
      .main .gridLocales .mapa {
        transform: scale(0.8, 0.8); }
  .gridFooter {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    font-size-adjust: 80%; } }

@media only screen and (min-width: 769px) and (max-width: 1150px) {
  header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(#2d8ba5, #92D6E8 50%); }
    header .navbar a {
      font-size: 2.5rem;
      font-weight: 1000;
      margin: 2rem 1rem 2rem 1rem;
      padding: 0rem 0.5rem 1rem 1rem;
      text-decoration: none;
      text-align: center;
      color: orange; }
    header .navbar-nav {
      gap: 1rem; }
  .main {
    margin: 5rem 0rem 0rem  0rem; }
    .main .titular {
      font-family: "KGTakeOnTheWorld";
      color: #8B0000;
      text-align: center;
      margin-bottom: 5rem;
      text-decoration: underline; }
      .main .titular .h1 {
        font-size: 5rem;
        margin-bottom: 5rem; }
      .main .titular .h2 {
        font-size: 4rem;
        margin-bottom: 5rem; }
      .main .titular .h3 {
        font-size: 3rem;
        margin-bottom: 5rem; }
    .main .gridTopPeluches {
      margin: 0%;
      display: grid;
      grid-gap: 3.5em;
      grid-template-columns: 80%;
      grid-template-rows: repeat(3, 1fr); }
      .main .gridTopPeluches .peluche {
        display: flex;
        align-items: center;
        flex-direction: column;
        border: solid 10px black;
        padding-bottom: 3rem;
        background-image: linear-gradient(#2d8ba5, #92D6E8 75%);
        margin: 5rem; }
        .main .gridTopPeluches .peluche:hover {
          transform: scale(1, 1);
          transition: 0s; }
    .main .gridCuenta {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr; }
      .main .gridCuenta .ajustarCuenta {
        display: flex;
        display: inline-block;
        justify-content: center; }
    .main .gridProductos {
      display: grid;
      grid-template-columns: 80%;
      grid-template-rows: repeat(6, 1fr);
      align-items: center;
      justify-content: center; }
      .main .gridProductos .tituloObjeto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
    .main .gridLocales {
      margin: 0%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr;
      margin-left: 0rem;
      justify-items: center;
      grid-gap: 4rem; }
      .main .gridLocales .marginleft {
        margin-left: 0rem; } }

@media only screen and (min-width: 1151px) and (max-width: 1550px) {
  header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(#2d8ba5, #92D6E8 50%); }
    header .navbar a {
      font-size: 3.0rem;
      font-weight: 900;
      margin: 1rem 1rem 2rem 1rem;
      padding: 0rem 0.5rem 1rem 1rem;
      text-decoration: none;
      text-align: center; }
    header .navbar-nav {
      gap: 2.5rem; }
  .main {
    margin: 15rem 8rem 0rem 8rem; }
    .main .titular {
      font-family: "KGTakeOnTheWorld";
      font-size: 4rem;
      color: #8B0000;
      text-align: center;
      margin-bottom: 5rem;
      text-decoration: underline; }
    .main .gridTopPeluches {
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: 100%;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
      margin-left: 5rem;
      margin-right: 5rem; }
    .main .logMenu {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      width: 70%;
      padding: 3rem;
      margin: 2rem 3rem 3rem 3rem;
      color: #FFFFFF;
      font-size: 2rem;
      display: block; }
    .main .marginleft {
      margin-left: 3rem; }
  .gridFooter {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 5rem;
    justify-content: center;
    align-items: center; } }

@media only screen and (min-width: 1551px) {
  .text-focus-in1 {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
  .text-focus-in2 {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.7s both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.7s both; }
  .tracking-in-expand-fwd1 {
    -webkit-animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both; }
  .tracking-in-expand-fwd2 {
    -webkit-animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s both;
    animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s both; }
  .scale-in-center1 {
    -webkit-animation: scale-in-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
    animation: scale-in-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both; }
  .scale-in-center2 {
    -webkit-animation: scale-in-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.8s both;
    animation: scale-in-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.8s both; } }

@font-face {
  font-family: "Bungee-Regular";
  src: url("../css/Bungee-Regular.ttf"); }

@font-face {
  font-family: "KGTakeOnTheWorld";
  src: url("../css/KGTakeOnTheWorld.ttf"); }

/*necesario para titular*/
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

/*necesario para resto de titulos*/
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

/*centrado index*/
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

::before::after {
  box-sizing: inherit; }

body {
  background-color: #B9E8F5; }
