@import "variables";
@import "base/utilidades";
@import "layout/header";
@import "layout/main";
@import "layout/footer";
@import "views/responsive";
@import "base/typo";
@import "views/animation";


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

::before::after{
    box-sizing: inherit;
}

body{
    background-color: #B9E8F5;   
}



