.gridFooter{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        .topFooter{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 800;
            text-decoration: none;
            font-size: 1.5rem;
            color: #000000;
            .redes a{
                color: #0000ff;
            }
          
        }
        .bottomFooter{
            display: flex;
            justify-content: center;
            align-items: center;
            .bottomFooter span{
                font-size: 1.3rem;
                
            }
        }

}

.gridCuenta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    .logMenu{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        width: 70%;
        padding: 3rem;
        margin: 2rem 5rem 3rem 5rem;
        color: #FFFFFF;
        font-size: 2rem;
        display: block;
        .ajustarCuenta{
            display: flex;
            display: inline-block;  
            justify-content: space-around;  
        }  
    }
    
}
