 /*1rem = 10px*/;


header {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*background-color: #92D6E8;*/
    background-image: linear-gradient($colorGradiantHeader1,$colorGradiantHeader2 50%);
	z-index: 1000;
    .logo {
        height: 6rem;
    }
    .navbar a{ 
        font-size: 4rem;
        font-weight: map-get($weights,full);
        margin: 1rem 3rem 2rem 2rem;
        padding: 0rem 0.5rem 1rem 1rem;
        text-decoration: none;
        text-align: center;
        color: $colorLetraheader; 
    }
    .navbar-nav{
        gap: 1.5rem;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $colorLetraheader;
    &:hover{
        color: rgba(0, 12, 240,1);
        text-decoration: underline;
       
        transition: 1s;
    } 
}
