@import "base/typo";

.main{
    margin: 15rem 10rem 0rem 10rem;   
}

.titular{
    font-family: "KGTakeOnTheWorld"; 
    color: #8B0000;
    text-align: center;
    margin-bottom: 5rem;
    text-decoration: underline;
    h1{   
        font-size: 5rem;  
        margin-bottom: 5rem;
    }
    h2{  
        font-size: 4rem; 
        margin-bottom: 5rem; 
    }    
    h3{
        font-size: 3rem;
        margin-bottom: 5rem;
    }
       
}
.gridTopPeluches{
    display: grid;
    justify-content: space-evenly;

    grid-template-columns: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem; 
    margin-left: 15rem; 
    margin-right: 15rem;
    .peluche{
        display: flex;
        align-items: center;
        flex-direction: column;
        border: solid 10px black;
        padding-bottom: 3rem;
        background-image: linear-gradient(#2d8ba5,#B9E8F5 75%);
        &:hover{
            transform: scale(1.3,1.3);
            transition: 1.5s;
        }
        img {
            width: 60%;
        }
        span{
            margin: 0 0 2rem 0;
            font-size: 3.5rem;
            font-weight: 600;  
        }
    }
}


.vertodosflex{
            display: flex;
            justify-content: center;
            .verTodos{
                font-size: 2.5rem;
                margin: 2rem; 
            }
            
}






