@import "base/typo";
@forward "../base/utilidades";

.main{
    @include marginMain(15rem, 10rem, 0rem, 10rem);
}

.titular{
    font-family: "KGTakeOnTheWorld"; 
    color: $color-titulo;
    text-align: center;
    margin-bottom: 5rem;
    text-decoration: underline;
    h1{   
        font-size: 5rem;  
        margin-bottom: 5rem;
    }
    h2{  
        font-size: 4rem; 
        margin-bottom: 5rem; 
    }    
    h3{
        font-size: 3rem;
        margin-bottom: 5rem;
    }
       
}
.gridTopPeluches{
    display: grid;
    justify-content: space-evenly;

    grid-template-columns: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem; 
    margin-left: 15rem; 
    margin-right: 15rem;
    .peluche{
        @include flex-aliCent-direColum;
        border: solid 10px black;
        padding-bottom: 3rem;
        background-image: linear-gradient($colorGradiantHeader1,$colorGradiantHeader2 75%);
        transition: 1.5s;
        &:hover{
            transform: scale(1.3,1.3);
               
        }
        

        img {
            width: 60%;
        }
        span{
            margin: 0 0 2rem 0;
            font-size: 3.5rem;
            font-weight: map-get($weights,semi-bold);  
        }
    }
}
.vertodosflex{
            display: flex;
            justify-content: center;
            .verTodos{
                font-size: 2.5rem;
                margin: 2rem; 
            }
            
}
/*productos*/
.gridProductos{
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: 75%;
    grid-template-rows: repeat(6, 1fr);
    .tituloObjeto{
        display: flex;
        
        justify-content: space-around;
        align-items: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 3rem;  
        line-height: 3;  
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-radius: 5rem;
        background-image: linear-gradient(to bottom right,$colorGradiantHeader2,$colorGradiantHeader1,$colorGradiantHeader2);  
        &:last-child{
            margin-bottom: 4rem;
        }
        h3{
            padding: 5rem;
            margin: 5rem 5rem 5rem 5rem;
            border: 5px solid black;
            color: #000000;
            font-size: 3rem;
            width: 25rem;
            text-align: center;   
        }
        p{
            font-size: 2.5rem;
            color: rgb(21, 90, 30);
            font-weight: map-get($weights,semi-bold);
            text-align: center;
            margin-bottom: 2rem; 
            margin-top: 0rem;     
        }
        div{
            @include flex-center-center-column;
        }
        .btn-lg{
            padding: 0.5rem 1rem;
            font-size: 3.25rem;
            line-height: 1.5;
            border-radius: 0.3rem;
        }
        .rotaR{
            transition: 0.3s;
            &:hover{
                transform: rotate(25deg);
            }  
        }
        .rotaCR{
            transition: 0.3s;
            &:hover{
                transform: rotate(-25deg);
            }  
        }
    }
    

}/*informacion*/
.marginInfo{
    @include marginMain(0rem, 10rem, 0rem, 10rem);
    .colorB{
        color: #a80909;
        .respuesta{
            font-family: "Roboto Slab", serif;
            font-size: 2.5rem;
            color: #9526C5;
            margin-bottom: 10rem;   
        }  
    }
    .letraLato{
        font-family: "Lato", sans-serif;
        font-size: 3rem;
        .centrado{
            text-align: center;
        }
        .encuadre{ 
            border: 0.5rem solid #000000;
            margin-bottom: 5rem;
            text-align: center;
            .respuesta{
                font-family: "Roboto Slab", serif;
                font-size: 2.5rem;
                color: #b12020;   
            } 
        } 
    }
    
    .pregunta{
        font-weight: map-get($weights,extra-bold);
    }
    .respuesta{
        font-family: "Roboto Slab", serif;
        font-size: 2.5rem;
        color: #9526C5;
        font-weight: map-get($weights,medium); 

    }
}
/*contacto*/
.centrarTodo{
    display: flex;
    justify-content: center;  
    .contactoMenu{
        font-family: 'Lato', sans-serif;
        font-weight: map-get($weights,light);
        padding: 6rem;
        margin: 2rem 2rem 0rem 2rem;
        color: #FFFFFF;
        font-size: 2rem;
        height: 100%;
        width: 70%;
        .cajaComentario{
            @include flex-jusCent-aliCent;
            margin-top: 5rem;
        }
        .btn-primary {
            color: #fff;
            font-size: 2rem;
            background-color: #007bff;
            border-color: #007bff;
            float: right;
        } 
    }
    .colorBack{
        background: #324355;
        padding: 5rem;
        border-radius: 2rem;
    }
    
    .ajustarContacto{
        display: flex;
        display: inline-block; 
        align-items: center;
    }
    
}
/*locales*/
.gridLocales{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    margin-top: 10rem;
    .marginleft{
        margin-left: 5rem;
    }
    .locales{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2.5rem;
        color: #122992;
        font-weight: map-get($weights,semi-bold);
        h4{
            font-family: "Roboto Slab", serif;
            font-size: 3.5rem;   
        }
    }
}
/*cuenta*/
.gridCuenta{
    @include grid-jusCenter-aliCenter;
    grid-template-columns: 1fr 1fr;
    .registerMenu, .logMenu {
        .ajustarCuenta{
            display: flex;
            display: inline-block;  
            justify-content: space-around; 
            .colorBack{
                background: #324355;
                padding: 5rem;
                border-radius: 2rem;
                div{
                    display: flex;
                    justify-content: space-between;
                }
            } 
        }
    
        font-family: 'Lato', sans-serif;
        font-weight: map-get($weights,light);
        width: 70%;
        padding: 3rem;
        margin: 2rem 5rem 3rem 5rem;
        color: #FFFFFF;
        font-size: 2rem;
        display: block;    
    }
    
}




















